
<div class="container">

<div class = "jumbotron" style="border: 2px solid black">
<b> Glossary: </b> </br>
a. Model - A table that holds data for communication with a database </br>
b. View - An HTML page requeted to be rendered by Rails </br>
c. Controller - A class in Ruby that handles actions requested by the page </br>
d. Router - A file that determines how page requests from the browser are interpreted for a Rails application </br>

</div>

</div>
