
<div class="container">

<div class = "jumbotron" style="border: 2px solid black">
<%= link_to "Back",:back, :class => "btn btn-primary" %>
<h1 style="text-align:center; font-size:40px">Find My Phone </h1>

<h4> Intro </h4>
<p>
Find My Phone is a combination Android and website application. Users are able to create an account and download the Android application, which will track the gps coordinates of their device and provide features such as locking their device and sounding an alarm, all through their account. Users are also able to tie multiple devices to their account and give each their own name to distinguish between them. This is an application designed for those who could lose their android devices as the functionality provided will allow users to protect and locate their device.
</p>

<h4> How to Use </h4>
<p>
Users must first register for an account with an email and password. <br>
After logging in, users will be greeted with a page with a list of devices, settings, and a signout button. <br>
In the settings page, users are able to change their password and deactivate their account. <br>
This list of devices will show the devices tied to their account, showing the device names, their gps location, an option to show the device on a map, and remove the device from their list. <br>
To add a device to the website, a user must download the Android application, log in, and add the device. <br>
When the user shows the device on the map, options to lock the device and sound an alarm are given. <br>
Users are also able to select their other devices from a list for quick switching between each device.<br>
</p>

<h4> Things Used </h4>
<p>
To create the website, we used Ruby on Rails with Bootstrap and CSS for styling. <br>
To create the Android application, we used Android Studio. <br>
To manage the servers and databases, we used MySQL, Devise, Java,  <br>
</p>

<h4> Contact Us </h4>
<p>
</p>

</div>

</div>
