<% if user_signed_in? and current_user.id == @device.user_id %>
<head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    
    <div class="container">
      <div class="jumbotron" style="align-content:center;">
        <h3 style="text-align:center;"> Hello, <%= current_user.email %><br> Here is the location of your device on the map:</h3>
        <a href="/welcom/index"><button type="button" class="btn btn-default">Back</button> </a>

        <div id="map"></div>
      </div>
    </div>
    <script>
      function initMap() {
        var uluru = {lat: <%=@device.lat%>, lng: <%=@device.long%>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ9t78pwT-jNWdoHbujpQMFQliDe3sRgg&callback=initMap">
    </script> <br> <br>
  </body>
</head>
<%else%>
<body>
  <h1>No user signed in</h1>
</body>
<%end%>