// Place all the styles related to the Welcom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-image: url("/images/nature.jpg");
	background-size: cover;
}

.button {
	background-color: #4CAF50;
	border:none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decorate: none;
	display: inline-block;
	font-size: 16px;
}

button a {
	text-decoration: none;
	color: white;
}