.center {
	text-align: center;
}

.spacing {
	height:1px;
	width:20px;
}

.TableTitle {
	border:1px solid black;
	text-align:center;
}

body {
	background: url("/images/nature.jpg");
	background-size: cover;
}

.jumbotron {
	opacity: 0.8;
	border: 2px solid black;
}